<h2>{{ hero.name }} Details</h2>

<div><span>id:</span>{{hero.id}}</div>
<div><span>name:</span>{{hero.name}}</div>


<ul>
  <li *ngFor="let h of heroes" (click)="onSelected(h)">
    <span> {{ h.id }}</span> {{h.name}}
  </li>
</ul>

<div *ngIf="selectedHero != undefined">
  <h2>{{ selectedHero.name | uppercase }} Details</h2>
  <div><span>id: </span>{{selectedHero.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="selectedHero.name" placeholder="name">
    </label>
  </div>
</div>

<h2>My Heroes</h2>
<ul>
  <li class="d-flex m-1" *ngFor="let hero of heroes" (click)="onSelected(hero)"
    [class.selected]="hero === selectedHero">
    <span class="rounded-left p-2 bg-primary text-light">{{hero.id}}</span>
    <div class="rounded-right p-2 bg-light text-dark w-50">{{hero.name}}</div>
  </li>
</ul>

